body{
    color: var(--text-color);
    font-family: 'Outfit', sans-serif;
}

.frame{
    padding: 2% 10%;
    width: 60%;
}

.students{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

img{
    border: 2px solid var(--text-color);
    width: 300px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: var(--text-color);
    &:hover{
        color: var(--secondary-light)
    }
}