h1 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: var(--text-color);
    font-size: 60px;
}

h2 {
    font: 500 20pt 'Noto Sans', sans-serif;
    text-align: center;
    color: var(--text-color);
}

h3 {
    font: 600 18pt 'Outfit', sans-serif;
    color: var(--main-light);
    text-align: center;
}

.park-name{
    font: 700 29pt 'Outfit', sans-serif;
    text-shadow: 10px 10px 10px  #0000007c;
    color: var(--text-color);
    position: absolute;
    text-align: center;
    left: 20px;
    bottom: 60px;
    z-index: 3;
}
  
p{
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    margin: 0;
    text-align: center;
}

figcaption{
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}


/*CAROUSEL STUFF*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #00000011;
    height: fit-content;
}
.slides {    
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}
.slides img {
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    max-width: 100%;
    margin: 0;
}

.carousel-navigation {
    background: #00000080;
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 999;
    bottom: 10px;
    left: 10px;
    padding: 10px 13px;
    border-radius: 10em;
    display: flex;
    gap: 5px;
    & .carousel-dots-container {
        display: flex;
        align-items: center;
        gap: 5px;
        & .carousel-dot {
            width: 8px;
            height: 8px;
            background: #fffa;
            border-radius: 10em;
            cursor: pointer;
            transition: width .3s;
            &.current {
                width: 50px;
                &:after {
                    content: '';
                    position: absolute;
                    background: #fff;
                    top: 0;
                    left: 0;
                    border-radius: 10em;
                    opacity: 1;
                    height: 100%;
                    width: 100%;
                    animation: progress-indicator 6s linear;
                }
            }
        }
    }

    & .carousel-buttons {
        display: flex;
        gap: 3px;
        & .carousel-button {
            border-radius: 50%;
            background: #00000040;
            appearance: none;
            border: 1px solid #fff4;
            cursor: pointer;
            width: 25px;
            height: 25px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.articles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}
.article{
    padding: 2%;
    margin: 2% 2%;
    background-color: #40a5786c;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #00000011;
    & img {
        margin-top: 6%;
        border-radius: 20px;
        width: 100%;
    }
}
.title{
    font-size: 30px;
    margin-bottom: 10px;
}

  
@keyframes progress-indicator {
    from {
        width: 8px;
    }
}