h1 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: var(--text-color);
    font-size: 60px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    color: var(--main-light);
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
h3 {
    font-family: 'Outfit', sans-serif;
    color: var(--main-light);
    text-align: center;
    font-size: 35px;
}
p{
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    margin: 0;
    text-align: center;
}

figcaption{
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}


/*CAROUSEL STUFF*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #00000011;
}
.slides {    
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}
.slides img {
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    max-width: 100%;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-button {
    background: #00000080;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.articles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}
.article{
    padding: 2%;
    margin: 2% 2%;
    background-color: #40a5786c;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #00000011;
}
.title{
    font-size: 30px;
    margin-bottom: 10px;
}

img{
    margin-top: 6%;
    border-radius: 20px;
    width: 100%;
}