@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --main-color: #006769;
    --secondary-color: #40A578;
    --main-light: #9DDE8B;
    --secondary-light: #F3CA52;
    --text-color:#FFF5EA;
}

* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--main-color);
}