@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --main-color: #006769;
    --secondary-color: #40A578;
    --main-light: #9DDE8B;
    --secondary-light: #F3CA52;
    --text-color:#FFF5EA;
}

* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--main-color);
}

header {
    position: sticky;
    top: 20px;
    z-index: 1000;
}

nav {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(64, 165, 120, 0.47);
    font: 600 14pt 'Outfit', sans-serif;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 10px #00000011;
    backdrop-filter: blur(10px);
    border: 1px solid #fff3;
}

header nav a{
    text-decoration: none;
    color: var(--text-color);
    display: block;

    &:after {
        content: '';
        position: absolute;
        border-radius: 10em;
        bottom: -1px;
        right: 0;
        width: 0;
        height: 3px;
        background: #fff;
        transition: .3s ease;
    }
    &:hover:after {
        width: 100%;
        left: 0;
    }
}